# Log-Dateien
*.log

# Lokale Konfigurationen (WICHTIG!)
.msmtprc
!.msmtprc-example

# Passwort-Dateien ausschließen
.msmtp_pw

# Log-Dateien ausschließen
.msmtp.log




# Backup-Dateien und Editor-Reste
*~
*.swp
.DS_Store

# Temporäre Dateien
*.tmp

